.form-check.d-inline {
}

.input_field {
  margin-bottom: 10px;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle {
  width: 300px;
  height: 40px;
  text-align: left;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
}

.dropdown-toggle:after {
  content: url('../../assets/img/dropdown/dropdown.png');
  border: none;
  position: absolute;
  top: 13px;
  right: 10px;
}

.dropdown-menu {
  width: 300px;
  height: 97px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  border: none;
  padding-top: 7px;
}

.dropdown-item {
  width: 290px;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  color: #5a6370;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 4px;
  padding-left: 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  border-radius: 6px;
  background-color: rgba(207, 216, 230, 0.5);
}

.input_text {
  display: inline-block;
  width: 500px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  border: none;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  padding: 14px 0px 13px 20px;
}

.input_field_large_border {
  width: 910px;
  border-radius: 20px;
  border: solid 2px #cfd8e6;
  display: inline-block;
  padding-left: 40px;
}

#resource .input_field_large_border {
  height: 170px;
  padding-top: 17px;
}

.input_field_large_title {
  display: inline-block;
  height: 81px;
  float: left;
}

#resource {
  margin-top: 30px;
  height: 170px;
}

.resource_input_div {
  display: inline-block;
  width: 250px;
  height: 134px;
  margin-right: 35px;
}

.resource_input_title {
  font-family: 'NotoSansKR-Medium';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  display: inline-block;
}

.resource_input_hr {
  margin: 0;
  border: 0;
  border-top: solid 1px #cfd8e6;
  margin-top: 11px;
  margin-bottom: 9px;
}

.resource_input_div_input_title {
  width: 63px;
  display: inline-block;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa5ae;
  margin-right: 36px;
}

.resource_input_div_input {
  height: 36px;
  margin-bottom: 10px;
}

.resource_input_div_input_field {
  display: inline-block;
  width: 50px;
  height: 36px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  margin-right: 10px;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5a6370;
}

.resource_input_div_input_max {
  display: inline-block;
  font-family: 'NotoSansKR-Medium';
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa5ae;
}

#network {
  margin-top: 30px;
  height: 260px;
}

#network .input_field_large_border {
  height: 260px;
  padding-top: 17px;
}

#nic_list thead th {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f8ff;
  border: none;
}

#nic_list thead tr {
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #9fa5ae;
  height: 40px;
}

#nic_list tbody tr {
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  height: 40px;
}

#nic_list table {
  border-spacing: 0 5px;
}

.none_tr {
  box-shadow: none !important;
  background-color: #f5f8ff !important;
  height: 5px !important;
}

.nic_check_box {
  display: none;
}

.nic_check_box + .nic_check_label {
  width: 20px;
  height: 20px;
  background: url('../../assets/img/btn-checkbox-inactive/btn-checkbox-inactive.png') no-repeat;
  object-fit: contain;
}

.nic_check_box:checked + .nic_check_label {
  width: 20px;
  height: 20px;
  background: url('../../assets/img/btn-checkbox-active/btn-checkbox-active.png') no-repeat;
  object-fit: contain;
}

.form-check {
  padding: 0;
  margin-left: 10px;
  margin-top: 21px;
}

.nic_check {
  padding-bottom: 0 !important;
  width: 60px;
}

.plugin_nm {
  font-family: 'NotoSansKR-BoldR';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 95px;
}

.nic_nm {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 205px;
}

.nic_type {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 95px;
}

.nic_subnet {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 177.5px;
}

.nic_ip {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 197.5px;
}

#nic_list tbody {
  display: block;
  height: 146px;
  overflow-y: auto;
}

#nic_list thead {
  display: block;
}

#nic_list tbody::-webkit-scrollbar {
  width: 10.5px;
}

#nic_list tbody::-webkit-scrollbar-track {
  height: 10px;
}

#nic_list tbody::-webkit-scrollbar-thumb {
  background-color: #e9ebf6;
  border-radius: 2px;
}

#nic_list tbody::-webkit-scrollbar-track-piece:start, #nic_list tbody::-webkit-scrollbar-track-piece:end {
  margin-top: 17px;
  background-color: #f8f8f8;
  border-radius: 2px;
  margin-bottom: 17px;
}

#storage {
  height: 93px;
}

#storage .input_field_large_border {
  height: 91px;
  padding-top: 20px;
}

#storage .input_text {
  width: 730px;
}

#create_pod_button, #add_command_button {
  width: 240px;
  height: 52px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.19);
  background-color: #4dbf91;
  font-family: 'NotoSansKR-BoldR';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 374px;
  margin-top: 60px;
  margin-bottom: 78px;
}

#network .resource_input_div_input_title {
  width: 200px;
}

#command_line {
  height: 140px;
}

#command .input_field_large_border {
  min-height: 85px;
  padding-top: 20px;
}

#add_command_button {
  margin: 0;
  width: 120px;
  height: 32px;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 13px;
  margin-left: 339px;
}

#command_div {
  min-height: 40px;
}

#nic_list_tbody .input_text {
  height: 27px;
  width: 173px;
}

#arg_div {
  margin-left: 172px;
  margin-top: 20px;
}

