#create_nic_button {
  width: 150px;
  height: 40px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.19);
  background-color: #4dbf91;
  font-family: 'NotoSansKR-BoldR';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 65px;
  margin-top: 20px;
}

.nic_del_button {
  width: 123px;
  height: 36px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.19);
  border: solid 1px #d5dbe3;
  background-color: #ffffff;
  font-family: 'NotoSansKR-Medium';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8a9399;
  margin-left: 10px;
}

#nic_list_div {
  width: 700px;
  margin-top: 10px;
  display: inline-block;
}

#plugin_del_button {
  float: right;
}

#nic_list thead th, #pod_list thead th {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f8ff;
  border: none;
  text-align: center;
}

#nic_list thead tr, #pod_list thead tr {
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #9fa5ae;
  height: 40px;
}

#nic_list tbody tr, #pod_list tbody tr {
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  height: 40px;
  text-align: center;
}

#nic_list table {
  border-spacing: 0 5px;
}

#nic_list {
  margin-top: 20px;
}

.none_tr {
  box-shadow: none !important;
  background-color: #f5f8ff !important;
  height: 5px !important;
}

.plugin_nm {
  font-family: 'NotoSansKR-BoldR';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 79px;
}

.nic_nm {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 225px;
}

.nic_type {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 190px;
}

.nic_subnet {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 152px;
}

#nic_list tbody, #pod_list tbody {
  display: block;
  height: 302px;
  overflow-y: auto;
}

#nic_list thead, #pod_list thead {
  display: block;
}

#nic_list tbody::-webkit-scrollbar, #pod_list tbody::-webkit-scrollbar {
  width: 10.5px;
}

#nic_list tbody::-webkit-scrollbar-track, #pod_list tbody::-webkit-scrollbar-track {
  height: 10px;
}

#nic_list tbody::-webkit-scrollbar-thumb, #pod_list tbody::-webkit-scrollbar-thumb {
  background-color: #e9ebf6;
  border-radius: 2px;
}

#nic_list tbody::-webkit-scrollbar-track-piece:start, #nic_list tbody::-webkit-scrollbar-track-piece:end, #pod_list tbody::-webkit-scrollbar-track-piece:start, #pod_list tbody::-webkit-scrollbar-track-piece:end {
  margin-top: 17px;
  background-color: #f8f8f8;
  border-radius: 2px;
  margin-bottom: 17px;
}

.nic_check {
  padding-bottom: 0 !important;
  width: 54px;
  padding-top: 8px !important;
}

#nic_add_div {
  width: 360px;
  height: 354px;
  border-radius: 20px;
  border: solid 2px #cfd8e6;
  display: inline-block;
  float: right;
  padding: 21px 0px 24px 40px;
}

.nic_check_radio {
  cursor: pointer;
}

.nic_add_title {
  font-family: 'NotoSansKR-Medium';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  display: inline-block;
  width: 80px;
}

.plugin_type {
  font-size: 12px;
  width: 40px;
  margin-left: 6px;
}

#plugin_div img {
  margin-left: 35px;
}

#plugin_div > div {
  display: inline-block;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  margin-top: 9px;
}

.dropdown-toggle {
  width: 280px;
  height: 40px;
  text-align: left;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
}

.dropdown-toggle:after {
  content: url('../../assets/img/dropdown/dropdown.png');
  border: none;
  position: absolute;
  top: 13px;
  right: 10px;
}

.dropdown-menu {
  width: 280px;
  height: 96px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  border: none;
  padding-top: 7px;
}

.dropdown-item {
  width: 270px;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  color: #5a6370;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 4px;
  padding-left: 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  border-radius: 6px;
  background-color: rgba(207, 216, 230, 0.5);
}

#nic_add_div hr {
  width: 280px;
  height: 1px;
  border-top: solid 1px #cfd8e6;
  margin: 0;
  margin-top: 17px;
}

#nic_add_div > div {
  margin-top: 19px;
}

.input_text, .input_text::placeholder {
  display: inline-block;
  width: 280px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.1);
  background-color: #ffffff;
  border: none;
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  padding: 14px 0px 13px 20px;
  margin-top: 9px;
}

#contents_contents > hr {
  width: 1080px;
  height: 1px;
  border-top: solid 1px #cfd8e6;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

#create_nic_form {
  height: 354px;
}

#network > div {
  display: inline-block;
}

#flannel {
  margin-right: 21px;
  margin-left: 21px;
}

#network {
  margin-top: 15px;
  margin-bottom: 30px;
  display: inline-block;
}

#topology .dropdown-menu {
  height: 119px;
}

#kube_reset_btton {
  width: 240px;
  height: 52px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.19);
  background-color: #4996ff;
  font-family: 'NotoSansKR-BoldR';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 422px;
  margin-top: 76px;
  margin-bottom: 78px;
}

.pod_nm {
  font-family: 'NotoSansKR-Medium';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a6370;
  width: 243px;
  text-align: center;
}

.pod_check_box {
  display: none;
}

.pod_check_box + .pod_check_label {
  width: 20px;
  height: 20px;
  background: url('../../assets/img/btn-checkbox-inactive/btn-checkbox-inactive.png') no-repeat;
  object-fit: contain;
}

.pod_check_box:checked + .pod_check_label {
  width: 20px;
  height: 20px;
  background: url('../../assets/img/btn-checkbox-active/btn-checkbox-active.png') no-repeat;
  object-fit: contain;
}

#cilium_plcy_option {
  display: inline-block;
  width: 734px;
  min-height: 346px;
  border-radius: 20px;
  border: solid 2px #cfd8e6;
  display: inline-block;
  margin-left: 39px;
  margin-top: 15px;
  margin-bottom: 40px;
  float: right;
  padding: 21px 0px 24px 40px;
}

#cilium_plcy_div {
  min-height: 383px;
  margin-bottom: 20px;
}

#cilium_plcy_option div div {
  margin-top: 19px;
}

#cilium_plcy_option > div {
  width: 300px;
  display: inline-block;
  margin-right: 42px;
}

#nic_type_div .dropdown-menu {
  height: 65px;
}

.plcy_button {
  width: 150px;
  height: 40px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px 0 rgba(98, 133, 217, 0.19);
  background-color: #4dbf91;
  font-family: 'NotoSansKR-BoldR';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 18px;
}

#pod_list {
  width: 307px;
  margin-top: 16px;
  display: inline-block;
}

.nic_del_button:hover, .nic_del_button:active {
  color: #8a9399;
}

#plcy_nm {
  display: block;
}

.form-check.cilium_plcy_type_div {
  display: inline-block;
  margin: 0;
}

#cilium_plcy_option .pod_check_label {
  position: relative;
  top: -14px;
  left: -213px;
}

.plcy_button:hover, .plcy_button:active {
  color: #ffffff;
}

#cilium_plcy_button_div {
  text-align: center;
  clear: both;
}

.port_add_button {
  font-size: 11px;
  margin-left: 95px;
  color: #0C9CF5;
  text-decoration: underline;
}

#nic_list_tbody {
  height: 200px !important;
}

#cilium {
  display: none;
}

#topology {
  display: inline-block;
  margin-left: 122px;
}

