@font-face {
	font-family: 'NotoSansKR-BoldR';
	src: url(../../assets/fonts/NotoSansKR-Bold.woff2) format('woff2'),
	url(../../assets/fonts/NotoSansKR-Bold.woff) format('woff'),
	url(../../assets/fonts/NotoSansKR-Bold.otf) format('otf');
	font-weight: 700;
	font-style: normal;
}