{% extends "common.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/ms_detail.css')}}">
{% endblock %}

{% block content %}
        <main id="content">
            <div id="content_header">
                <img src="{{url_for('static', filename='assets/img/tab-ms-detail-ico/ico-ms.png')}}">
                <span id="content_title">Micro Service Details</span>
            </div>
            <div class="content_div_line"></div>

            <div id="ms_detail" class="ms_detail">
                <div class="d-flex">
                    <div class="svc_detail_list">
                        <div class="ms_detail_pod_list_scroll">
                            {% for svc in param.service_list %}
                            <div class="d-flex align-items-center svc_detail_list_name" data_value="{{ svc.cluster_name }}" onclick="svc_list_click_event(event, this)"><span>{{ svc.svc_name }}</span></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-column svc_detail_info">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Svc Name</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_name"></span>
                                </div>
                            </div> 
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Svc Type</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_type"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Cluster Name</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_cluster_name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Cluster IP</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_cluster_ip"></span>
                                </div>
                            </div> 
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Port(s)</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_ports"></span>
                                </div>
                            </div> 
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>External IP</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="svc_external_iP"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="ms_detail_pod_list">
                        <div class="ms_detail_pod_list_scroll">
                            {% for ms in param.ms_list %}
                            <div class="d-flex align-items-center ms_detail_pod_list_pod_name" data_value="{{ ms.cluster_name }}" onclick="ms_list_click_event(event, this)"><span>{{ ms.pod_name }}</span></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-column ms_detail_pod_info">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>uS Name</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="ms_datail_pod_name"></span>
                                </div>
                            </div> 
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Node Name</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="ms_detail_node_name"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center ms_detail_head_text">
                                    <img class="ms_detail_bul_ico" src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                                    <span>Cluster Name</span>
                                </div>
                                <div class="d-flex align-items-center common_text_input ms_detail_name_input">
                                    <span id="ms_detail_cluster_name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex ms_detail_computing_resource_data">
                            <div class="d-flex flex-column align-items-center justify-content-center ms_detail_computing_resource_ind_data">
                                <div class="d-flex align-items-center ms_detail_computing_resource_ind_title">
                                    <img src="{{url_for('static', filename='assets/img/cpu-ico/ico-cpu.png')}}">
                                    <span>CPU</span>
                                </div>
                                <div class="d-flex ms_detail_computing_resource_data_containers">
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Limit</span>
                                        <span class="ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_cpu_limit_input">-</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Request</span>
                                        <span class="ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_cpu_request_input">-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ms_detail_computing_resource_ind_bar"></div>
                            <div class="d-flex flex-column align-items-center justify-content-center ms_detail_computing_resource_ind_data">
                                <div class="d-flex align-items-center ms_detail_computing_resource_ind_title">
                                    <img src="{{url_for('static', filename='assets/img/memory-ico/ico-memory.png')}}">
                                    <span>Memory(GB)</span>
                                </div>
                                <div class="d-flex ms_detail_computing_resource_data_containers">
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Limit</span>
                                        <span class="ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_memory_limit_input">-</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Request</span>
                                        <span class="ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_memory_request_input">-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ms_detail_computing_resource_ind_bar"></div>
                            <div class="d-flex flex-column align-items-center justify-content-center ms_detail_computing_resource_ind_data">
                                <div class="d-flex align-items-center ms_detail_computing_resource_ind_title">
                                    <img src="{{url_for('static', filename='assets/img/gpu-ico/ico-gpu.png')}}">
                                    <span>GPU</span>
                                </div>
                                <div class="d-flex ms_detail_computing_resource_data_containers">
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Limit</span>
                                        <span class=" ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_gpu_limit_input">-</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="ms_detail_computing_resource_data_info_text">Request</span>
                                        <span class="ms_detail_computing_resource_data_input" id="ms_detail_computing_resource_gpu_request_input">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="d-flex ms_detail_result_box">
                        <img src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                        <span>uService Process Result</span>
                    </div>
                    <!-- <textarea class="form-control ms_detail_data_textarea" cols="450" rows="15" id="ms_detail_result_box_data_textarea"></textarea> -->
                    {% if param.kiali_ip != null %}
                    <iframe class="ms_detail_kiali_container" src="http://{{param.kiali_ip}}:20001/kiali/console/graph/namespaces?kiosk=true&namespaces=default&edges=&traffic=grpc%2CgrpcRequest%2Chttp%2ChttpRequest%2Ctcp%2CtcpSent&idleNodes=true&operationNodes=false&idleEdges=false&injectServiceNodes=true&layout=dagre"></iframe>
                    {% else %}
                    <div class="d-flex align-items-center justify-content-center ms_detail_kiali_error_container">
                        <span>Kiali 오류</span>
                    </div>
                    {% endif %}
                </div>
                <div>
                    <div class="d-flex ms_detail_pod_log_box">
                        <img src="{{url_for('static', filename='assets/img/list-bul-purple-solid-ico/ico-bul-purple-solid.png')}}">
                        <span>Pod Logs</span>
                    </div>
                    <textarea class="form-control ms_detail_data_textarea" cols="450" rows="15" id="ms_detail_pod_log_box_data_textarea"></textarea>
                </div>
            </div>
        </main>
        <div class="d-flex align-items-center justify-content-center ms_detail_btn_container">
            <div class="d-flex justify-content-center align-items-center delete_button_container">
                <button class="btn d-flex justify-content-center align-items-center common_delete_button ms_detail_delete_button" onclick="ms_delete_click_event(event, this)" type="button">
                    <span>Delete Pod</span>
                    <img src="{{url_for('static', filename='assets/img/list-delete-ico2/ico-table-delete.png')}}">
                </button>
            </div>
            <div class="d-flex justify-content-center align-items-center delete_button_container">
                <button class="btn d-flex justify-content-center align-items-center common_delete_button ms_detail_delete_button" onclick="svc_delete_click_event(event, this)" type="button">
                    <span>Delete Service</span>
                    <img src="{{url_for('static', filename='assets/img/list-delete-ico2/ico-table-delete.png')}}">
                </button>
            </div>
        </div>
        <div id="delete_modal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal_container ms_detail_modal_container">
                        <div class="d-flex align-items-center modal_header">
                        </div>
                        <div class="d-flex flex-column align-items-center modal_body">
                            <img src="{{url_for('static', filename='assets/img/ico-table-delete-big/ico-table-delete-big.png')}}">
                            <div class="d-flex flex-column align-items-center ms_detail_modal_main_text_container">
                                <span class="ms_detail_modal_main_pod_name_text"></span>
                                <span class="ms_detail_modal_main_fixed_text">마이크로서비스를 삭제합니다.</span>
                            </div>
                            <span class="ms_detail_modal_sub_fixed_text">모든 작업과 데이터가 제거되고 복구가 불가능합니다.</span>
                            <span class="ms_detail_modal_sub_fixed_text">삭제를 진행하시겠습니까?</span>
                        </div>
                        <div class="d-flex justify-content-center modal_footer">
                            <button class="btn ms_detail_modal_cancel_button" type="button" onclick="modal_cancel_button_click_event('delete_modal')">Cancel</button>
                            <button class="btn ms_detail_modal_delete_button" type="button" onclick="modal_confirm_button_click_event('delete_modal')">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_svc_modal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal_container ms_detail_modal_container">
                        <div class="d-flex align-items-center modal_header">
                        </div>
                        <div class="d-flex flex-column align-items-center modal_body">
                            <img src="{{url_for('static', filename='assets/img/ico-table-delete-big/ico-table-delete-big.png')}}">
                            <div class="d-flex flex-column align-items-center ms_detail_modal_main_text_container">
                                <span class="ms_detail_modal_main_svc_name_text"></span>
                                <span class="ms_detail_modal_main_fixed_text">서비스를 삭제합니다.</span>
                            </div>
                            <span class="ms_detail_modal_sub_fixed_text">모든 작업과 데이터가 제거되고 복구가 불가능합니다.</span>
                            <span class="ms_detail_modal_sub_fixed_text">삭제를 진행하시겠습니까?</span>
                        </div>
                        <div class="d-flex justify-content-center modal_footer">
                            <button class="btn ms_detail_modal_cancel_button" type="button" onclick="modal_cancel_button_click_event('delete_svc_modal')">Cancel</button>
                            <button class="btn ms_detail_modal_delete_button" type="button" onclick="modal_confirm_button_click_event('delete_svc_modal')">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='assets/js/ms_detail.js')}}"></script>
{% endblock %}