<html>
    <body>
        <form action ="http://129.254.202.42:32424/GEP/GSCH/test/low" method="POST" enctype ="multipart/form-data">
        <label for="yaml-select">Choose yaml file</label> <br> 
        <input type = "file" name ="yaml_file" /><br>
        <label for="cluster-select">Choose cluster:</label><br>
        <input type="text" name="selected_clusters" /><br>
        <label for="source-cluster-select">Choose source cluster:</label><br>
        <input type="text" name="source_cluster" /><br>
        <label for="source-node-select">Choose source node:</label><br>
        <input type="text" name="source_node" /><br>
        <label><input type="checkbox" name="fast_option" value="fast"> Fast</label><br>
        <input type= "submit" />
        </form>
    </body>
</html>