{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/login.css')}}">
{% endblock %}

{% block content %}
        <div id="content">
            <div class="d-flex justify-content-center align-items-center login-containter">
                <div class="d-flex flex-column justify-content-center align-items-center login-dialog">
                    <form id="login_form" class="form-group">
                        <div class="d-flex login-input">
                            <div class="d-flex justify-content-center align-items-center login-input-icon">
                                <img src="{{url_for('static', filename='assets/img/login-user-ico/ico-solid-user.png')}}">
                            </div>
                            <input id="login_user_id_input" name="user_id" class="form-control d-xl-flex align-items-xl-center login-input-text" type="text" placeholder="ID">
                        </div>
                        <div class="d-flex login-input">
                            <div class="d-flex justify-content-center align-items-center login-input-icon">
                                <img src="{{url_for('static', filename='assets/img/login-lock-ico/ico-solid-lock.png')}}">
                            </div>
                            <input id="login_password_input" name="password" class="form-control login-input-text" type="password" placeholder="Password">
                        </div>
                    </form>
                    <div class="d-flex justify-content-center align-items-center login-invaild"><img class="error-img" src="{{url_for('static', filename='assets/img/login-outline-status-info-ico/outline-status-info-circle.png')}}">
                        <span id="login_fail_text">비밀번호를 확인해주세요.</span>
                    </div>
                    <button class="btn login-button" type="button" onclick="on_click_login()">로그인</button>
                </div>
            </div>
        </div>
    
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='assets/js/login.js')}}"></script>
{% endblock %}
