<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            makeUpload();

        });

        function makeUpload(){
                let filename = $('#filename').val()
                let username = $('#username').val()
                let count = $('#count').val()
                $.ajax({
                        type: "POST",
                        url: "/order",
                        data: {
    </script>
    <title>Document</title>
</head>
<body>
<h1>웹 잘하고 싶다!! 당췌 뭔말인지 모르겟다!!</h1>
</body>
</html>