"github.com/devopsfaith/krakend-lua/proxy/backend": {
    "pre": "--custom_error('backend proxy pre', 404)",
    "post": "custom_error('backend proxy post', 404)"
},
"github.com/devopsfaith/krakend/http": {
    "return_error_details": "status"
}